.list-group-item {
        padding: 1rem;
        margin:  0;
}

.accordion {
        .accordion-item {
                box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2) !important;
        }
        .accordion-button {
                font-weight: 500;
                cursor: pointer;;
                border: unset;
                box-shadow: unset;
                transition: all 0.5s ease-in-out;
                &:not(.collapsed) {
                        background-color: var(--bs-secondary);
                        color: var(--bs-light);
                        &:hover {
                                color: var(--bs-light);
                        }
                }
                &:hover {
                        color: var(--bs-dark);
                }
                &::after {
                        width: 24px;
                        height: 24px;
                        margin: 0;
                        border-radius: 50%;
                        background-size: 15px;
                        background-position: center;
                        background-color: var(--bs-white);
                        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2) !important;
                }
        }
        .accordion-body {
                span {
                        font-weight: 500;
                        > i {
                                font-size: 1.2rem;
                                vertical-align: middle;
                        }
                }
        }
}